.info .media {
    max-width: 50%;
}

.info {
    margin-bottom: 200px;
    width: 100%;
}

.info .caja {
    display: flex;
    flex-direction: row;
}

.info .image-info {
    /*width: 100%;*/
    height: 500px;
    margin-top: -50px;
    margin-left: 15px;
}

.info .media-header {
    display: flex;
    flex-direction: row;
}

.info .genreStyle {
    background-color: rgb(0, 153, 255);
    color: white;
    margin-left: .5em;
    padding: 4px 14px !important;
    cursor: pointer;
}

.info .contentBox {
    margin-right: 100px;
}

.info .stars {
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 10px;
}

.info em {
    font-size: 13px;
    color: grey;
}

.info .infoBox {
    margin-top: -15px;
}

.info .actorsBox {
    display: flex;
    margin-left: -10px;
}

.info .eachActor {
    flex-direction: row;
    margin: auto;
    width: 175px;
    margin-left: 1em;
    font-size: 13px;
    display: flex;
}

.info .marginTrailerBox {
    margin-top: -13px;
    margin-left: -13px;
}

.info ul {
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 0;
}

.info .actorName {
    color: rgb(0, 153, 255);
}

.info .caja .media-header h3 {
    font-size: 22px;
}

.info .caja .description {
    width: 50%;
    text-align: justify;
    margin-right: 40px;
}